body {
    margin: 0 auto;
    max-width: 1000px;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  nav a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
  }
  nav a:hover {
    background-color: #eee;
  }
  nav a:active {
    background-color: #eee;
  }
  .main {
    padding: 1rem;
  }
  .dashboard {
    padding: 1rem 0;
  }
  .img1 img{
    height: 350px;
    width: 970px;
  }
  .img2 img{
    height: 380px;
    width:auto;
  }
  .img3 img{
    height: auto;
    width: 980px;;
  }